  .content-section {
    margin-left: 260px;
    margin-right: 260px;
  }
  
  .text-section-home {
    background: rgb(231, 229, 229);
  }
  .blurb {
      background: rgb(175, 172, 172);
      text-align: center;
  }

  .container-fluid {
    padding:0;
  }
  
  .make-me-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 15px;
  }
  
  .sticky.is-sticky {
      top: 60px;
      position: fixed;
      width: 250px;
  }

  /* Ignore This, just coloring */
  body {
    background: #fff;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: -20px;
  }
  
  article {
    background: #f1f1f1;
    border-radius: 12px;
    padding: 25px 0;
  }
  
  .title-section {
  }
  
  .leftbar {
    width: 250px;
    position: absolute;
    left: 0;
  }

  .rightbar {
    width: 250px;
    position: absolute;
    right: 0;
  }

  .images-padhomemiddle {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .images {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .images-padhomelinefounder {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .images-padhomelineblood {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .images-padhomeankh {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 0;
  }
  .images-padhomebones {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0;
  }
  .images-padhomethorns {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 17px;
    padding-bottom: 0;
  }

  .images-padchapterline {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .images-padchesspieces {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 0;
  }

  .images-padchapterbottom {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .images-padhomeoptions {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .images-padbuttonthorns {
    padding-top: 20px;
  }

  .images-padbuttonankh {
    padding-top: 10px;
  }

  .images-padbuttonbones {
    padding-top: 5px;
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 20px solid rgba(37, 37, 37, 0.1);
  }

  .chapter-text {
    padding-left: 40px;
    padding-right: 40px;
  }

  .btn-outline-light {
    border: 0;
    box-shadow: none;
    color: black;
    font-weight: bold;
    font-size: 14pt;
    background-color: #b8bbbd;
  }

  .btn-outline-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #0d0d0e;
  }
  
  .btn-outline-light:not(:disabled):not(.disabled).active:focus, .btn-outline-light:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #b8bbbd;
    background-color: rgb(175, 172, 172);
    border-color: #b8bbbd;
  }

  .btn-outline-light:not(:disabled):not(.disabled).active, .btn-outline-light:not(:disabled):not(.disabled):active, .show>.btn-outline-light.dropdown-toggle {
    color: #212529;
    background-color: rgb(175, 172, 172);
    border-color: #b8bbbd;
  }

  .navbar {
    background-color: #b8bbbd;
  }

  .btn-outline-light.dropdown-toggle {
    color: #212529;
    background-color: #b8bbbd;
    border-color: #b8bbbd;
  }

  .btn-outline-light:hover {
    color: #212529;
    background-color: rgb(175, 172, 172);
    border-color: #b8bbbd;
  }

  .dropdown-menu {
    background-color: #b8bbbd;
  }

  .dropdown-item {
    background-color: #b8bbbd;
  }

  .dropdown-item:hover {
    background-color: rgb(175, 172, 172);
  }

  .dropdown-item:focus {
    background-color:  rgb(175, 172, 172);
    color: black;
  }

  .btn-dropdown-light:not(:disabled):not(.disabled).active, .btn-dropdown-light:not(:disabled):not(.disabled):active, .show>.btn-dropdown-light {
    color: #212529;
    background-color: rgb(175, 172, 172);
    border-color: #b8bbbd;
  }
  
  .btn-font {
    font-family: "Times New Roman", Gadget, serif;
    font-style: normal;
    font-size: 25px ! important; //to make fontsize bigger 
 }

 .home-font {
  font-family: "Times New Roman", Gadget, serif;
  font-style: normal;
  font-size: 20px ! important;
 }
 
 .chapter-title-font {
  font-family: "Times New Roman", Gadget, serif;
  font-style: normal;
  font-size: 20px ! important; //to make fontsize bigger 
 }